<ion-view view-title="{{activity.name}}">
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>

    <div class="card activity">
      <div class="row">
        <h2 class="card-title">{{activity.name}}</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img ng-src="{{activity.image}}" height="325px">
        </div>

        <div class="col-md-6 list list-inset item item-stable">
          <h3 ng-hide="null == activity.people" class="list-title">Residents who like this:</h3>
          <h3 ng-show="null == activity.people" class="list-title">It seems that nobody is interested in this.</h3>
          <div class="item item-stable item-thumbnail-left" class="person" ng-repeat="person in activity.people">
            <img ng-src="{{person.image}}">
            <a class="badge badge-positive badge-lg" href="/#/tab/directory/{{person.id}}">{{person.name}}</a>
          </div>
        </div>
      </div >

    </div>

  </ion-content>
</ion-view>
