<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{person.name}}" scrollable="False">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar >
  <ion-content class="padding">

    <div class="card">
      <div class="row">
        <h2 style="font-size:3.5em; font-style:bold;text-align:center;margin:auto;">{{person.name}}</h2>
      </div>

      <div class="row">
        <h3 style="padding-top:10px;font-size:2em; font-style:bold;text-align:center;margin:auto;"> Resident Since {{person.since}}</h3>
      </div>

      <div class="row">
        <h3 style=" padding-top:10px;padding-bottom:20px;font-size:2em; font-style:bold;text-align:center;margin:auto;"> Room {{person.roomNumber}}</h3>
      </div>

      <div class="row">

        <div class="col-md-6">
          <img ng-src="{{person.image}}" style="padding-left:40px; max-width:100%;"> <!--  max-height:100%-->
        </div>

        <div class="col-md-6 list list-inset item item-stable">
          <h3 style="font-size:2.5em; font-style:bold;">Activities</h3>
          <div class="item item-stable" style="font-size:1.75em; font-style:bold;"
               ng-repeat="activity in person.activities">
            <a href="/#/tab/activities/{{activity.id}}">{{activity.name}}</a>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
