<ion-view view-title="{{person.name}}" scrollable="No">
  <ion-content>
    <div class="container">
      <div class="row">
				<div class="col-xs-6">
					<img ng-src="{{person.image}}" style="max-height:400px; width:100%;"> 
				</div>
				
				<div class="col-xs-6">
					<h1 class="card-title">{{person.name}}</h1>
					<h2 class="text-center"> Room {{person.roomNumber}}</h2>
					<h2 class="text-center"> Resident since {{person.since}}</h2>
				</div>
				
			</div>
							
			<div class="row" style="margin-top:15px;">
				<div class="col-xs-12 item item-divider">
					<h2 class="text-center">Activities</h2>
				</div>
			</div>

			<div class="row">
			
				<div class="col-xs-12 col-sm-6 col-lg-4 activity nametag" ng-repeat="activity in person.activities" style="margin-top: 10px; margin-bottom: 10px;">	
						<a href = "/#/tab/activities/{{activity.id}}">
							<img ng-src="{{ getActivity(activity.id).image }}" alt="{{activity.name}}" style="height:200px; width:100%; margin: auto;"> <!-- Review data structure, perhaps very inefficient -->
						</a>
						<a class="button button-full button-positive visible-xs-block visible-sm-block" href="/#/tab/activities/{{activity.id}}">{{activity.name}}</a>
						<a class="button button-full button-positive icon-right ion-chevron-right visible-md-block visible-lg-block" href="/#/tab/activities/{{activity.id}}">{{activity.name}}</a>
				</div>
			
			</div>
			
    </div>
  </ion-content>
</ion-view>
