<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{person.name}}" scrollable="No">
  <ion-nav-bar class="bar bar-header bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content>
    <div class="container">
      <div class="row">
				<div class="col-xs-6">
					<img ng-src="{{person.image}}" style="min-height:max-height:400px; width:100%;"> 
				</div>
				
				<div class="col-xs-6">
					<h1 class="card-title">{{person.name}}</h1>
					<h2 style="text-align:center"> Room {{person.roomNumber}}</h2>
					<h2 style="text-align:center"> Resident since {{person.since}}</h2>
				</div>
				
			</div>
			
			<div style="margin-top:15px;">
				
				<div class="row">
					<div class="col-xs-12 item item-divider">
						<h2 style="text-align:center">Activities</h2>
					</div>
				</div>

				<div class="row">
				
					<div class="col-xs-12 col-sm-6 col-lg-4 activity nametag" ng-repeat="activity in person.activities" style="margin-top: 10px; margin-bottom: 10px;">	
							<img ng-src="{{ getActivity(activity.id).image }}" alt="{{activity.name}}" style="height:200px; width:100%; margin: auto;"> <!-- Review data structure, perhaps very inefficient -->
							<a class="button button-full button-positive icon-right ion-chevron-right" style="margin-top:-10px;" href="/#/tab/activities/{{activity.id}}">{{activity.name}}</a>
					</div>
				
				</div>
					
			</div>
							
    </div>
  </ion-content>
</ion-view>
