<ion-view view-title="Directory">
  <ion-content>
    <ion-list class="list">

      <ion-item class="item item-text-wrap card" ng-repeat="person in directory" href="#/tab/directory/{{person.id}}">

        <img class="col-md-6" ng-src="{{person.image}}" height="325px">

        <div class="col-md-6">
            <h2 style="font-size:3.5em; font-style:bold;">{{person.name}}</h2>
            <h3 style="padding-top:90px;font-size:2em; font-style:bold;word-wrap:break-word"> Activities: {{person.activities}}</p>
            <h3 style="padding-top:20px;font-size:2em; font-style:bold;"> Room {{person.roomNumber}}</p>
            <h3 style="padding-top:20px;font-size:2em; font-style:bold;"> Resident since {{person.since}}</p>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>


<!--<div class="list card">

  <div class="item item-avatar">
    <img src="avatar.jpg">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </div>

  <div class="item item-image">
    <img src="cover.jpg">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Start listening
  </a>

</div>
-->

<!--
<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2><b>{{chat.name}}</b></h2>
        <p><b>Activities:</b> {{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
-->

<!--
<ion-view view-title="Chats">
  <ion-content>
    <ion-list class="list card">

      <ion-item class="item" ng-repeat="chat in chats" href="#/tab/chats/{{chat.id}}">

        <h2 style="float:right"><b>{{chat.name}}</b></h2>
        <img ng-src="{{chat.face}}" width="400px" height="300px">
        <p style="float:right"><b>Activities:</b> {{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
-->