<ion-view view-title="Activities" scrollable="Yes">
  <ion-content>

    <ion-list class="list">
      <ion-item class="item card item-stable" ng-repeat="activity in activities" href="#/tab/activities/{{activity.id}}"">

        <img class="col-md-4" ng-src="{{activity.image}}" height="325px">

        <div class="col-md-8">
            <h2 style="font-size:3.5em; font-style:bold;">{{activity.name}}</h2>
            <h3 style="padding-top:60px;font-size:2em; font-style:bold; color:#444;"> Residents who like this: </h3>
            <!--<span class="col-md-4" style="font-size:2em; font-style:bold; color:#444;" ng-repeat="activity in person.activities">-->
            <!--{{activity}}-->
            <!--</span>-->
            <div ng-repeat="person in activity.people">
                <div class="col-md-4" >
                    <img class="row" style="width: 128px; height: 128px;" href="/#/tab/directory/{{person.id}}" ng-src="{{person.image}}"  alt="" >
                    <a class="row" style="font-size:1.5em; font-style:bold; " href="/#/tab/directory/{{person.id}}">{{person.name}}</a>
                </div>
            </div>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>