<ion-view view-title="Directory">
  <ion-content>
    <div class="card 
    <ion-list class="list">
      <ion-item class="item item-text-wrap item-stable card person" ng-repeat="person in directory" href="#/tab/directory/{{person.id}}">
        <div class="row">
          <div class="col-md-4">
            <img  ng-src="{{person.image}}" height="180px" width="320px">
          </div>

          <div class="col-md-8">
            
            <div class="row">
              <h2 class="col-sm-9">{{person.name}}</h2>
              <p class="col-sm-3" style="color:#444; float:right;"> Room {{person.roomNumber}}</span>
            </div>
            
            <div class="row" style="margin-top:20px;">
              <h3 class="col-sm-12" style="color:#444;"> Resident Since {{person.since}}</h3>
            </div>

            <div class="row"  style="margin-top: 15px;">
              <h3  class="col-md-3" style="margin-top:25px; color:#444;"> Activities: </h3>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-4" ng-repeat="activity in person.activities">
                    <a class="badge badge-positive badge-lg" href="/#/tab/activities/{{activity.id}}">{{activity.name}}
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>

      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
