<ion-view view-title="Activities" scrollable="Yes">
  <ion-content>
		<div class="container-fluid">
			<ion-list class="list">
				<ion-item class="item item-stable card activity" ng-repeat="activity in activities" href="#/tab/activities/{{activity.id}}">
					
					<div class="row">
						<div class="col-sm-4">
							<img style="width: 90%; height: 325px;" ng-src="{{activity.image}}">
						</div>
					
						<div class="col-sm-8">
							<div class="row">
								<h2 class="card-title">{{activity.name}}</h2>
							</div>
							
							<div class="row">
								<h3 ng-hide="null == activity.people" class="activity-info"> Residents who like this: </h3>
								<h3 ng-show="null == activity.people" class="activity-info"> It seems that nobody is interested... </h3>
							</div>
							
							<div ng-repeat="person in activity.people">
								<div class="col-sm-6 col-lg-4 nametag" >
									<a href="/#/tab/directory/{{person.id}}">
										<img style="width: 90%; height: 200px;" alt="{{person.name}}" ng-src="{{person.image}}">
									</a>
									<a style="width:90%;" class="button button-positive visible-xs-block visible-sm-block" href="/#/tab/directory/{{person.id}}">{{person.name}}</a>
									<a style="width:90%;" class="button button-positive icon-right ion-chevron-right visible-md-block visible-lg-block" href="/#/tab/directory/{{person.id}}">{{person.name}}</a>
								</div>
							</div>
						</div>

						<i class="icon ion-chevron-right icon-accessory"></i>
					</div>
					
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
</ion-view>
