<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-background-positive tabs-color-light">

  <ion-tab class="tab-override" title="Directory" href="#/tab/directory">
    <ion-nav-view name="tab-directory"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tab-override" title="Activities" href="#/tab/activities">
    <ion-nav-view name="tab-activities"></ion-nav-view>
  </ion-tab>

</ion-tabs>
