/*
		GENERAL ELEMENT STYLES SECTION
*/

img{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.button{
  font-size: 1.2em;
  font-weight:bold;
  border-radius: 5px;
  display:block;
	
  /* The code below was useful when I had the chevron icon present at xs and sm form factors, 
		but a better solution was to hide the chevron at those sizes */
  white-space: normal;
}

/*
	SPECIFIC USAGE SECTION
*/
/* Provides more content room on the right side on card lists than the default value */
.card.activity a, .card.person a{
  padding-right: 16px;
}

.nametag img{
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.nametag .button{
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	
	margin-top: -10px;
	margin-bottom:10px;
}

/*
	FONT SECTION:
	Using "!important" to override BS3 and Ionic Framework default style sheets. 
*/

h1{
  font-size:3.25em !important;
  font-weight:bold !important;
  line-height: 2em !important;
	color: #444 !important;
}

h1.card-title, h2.card-title{
  text-align:center;
  margin-top:-10px;
}

h2{
  font-size:2em !important;
  font-weight:bold !important;
  line-height: 1.25em !important;
	color: #444 !important;

}

p.text-lg, h3{
  font-size: 1.75em !important;
  font-weight: 500 !important;
  line-height: 1em;
	color: #444 !important;

}

p.text-md, a.text-md, h4{
  font-size:1.5em !important;
  font-weight:500;
  line-height: 0.8em;
	color: #444 !important;
}

p.text-sm, h5{
  font-size:1.25em !important;
	color: #444 !important;
}

h6{
  font-size:1em !important;
	color: #444 !important;
}
